body{
  background-color: #FFE4E1;
}

table, th, td{
  border: 2px solid;
}

.titulo{
text-align: center;
}

img{
  width: 500px;
  height: 400px;
}

.Pecho{
  width: 650px;
  height: 400px;
}
.final{
  font-size: 70px;
  text-align: center;
}
